<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Casa do Vira-Lata - Login</title>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %>
    </header>

    <main>

    </main>

    <footer class="footer"><%- include('../../partials/footer'); %></footer>
  </body>
</html>
