<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Casa do Vira-Lata - Login</title>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %>
    </header>

    <main class="login-main">
      <section class="login login-image"></section>
      <section class="login login-form" id="login-form">
        <h2><span>Olá</span>, seja bem-vindo.</h2>
        <p>Já tem uma conta? <a href="/login">Entre</a>.</p>
        <form id="signupForm">
          <div class="form-group">
            <label>Nome:</label>
            <input id="name" type="text" name="name" required placeholder="Digite seu nome completo"/>
            </div>
          <div class="form-group">
            <label for="phone">Telefone:</label>
            <input id="phone" placeholder="(99) 99999-9999" type="tel" id="phone" name="phone" />
          </div>
          <div class="form-group">
            <label>E-mail:</label>
            <input id="email" type="email" name="email" required placeholder="Digite seu e-mail"/>
          </div>
          <div class="form-group">
            <label>Senha:</label>
            <input id="password" type="password" name="password" required placeholder="Digite sua senha"/>
          </div>
          <% if( typeof(error) != "undefined") { %>
            <p><%= error %></p>
          <% } %>
          <button type="submit">Cadastrar</button>
        </form>
      </section>
    </main>
    <script src="/js/signup.js"></script>
    <footer class="footer"><%- include('../../partials/footer'); %></footer>
  </body>
</html>
