.body-adm-infos-users {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}
.content-adm-infos-users {
    display: flex;
    min-height: calc(100vh - 164px);
    width: 100%;
    margin-top: 25px;
    justify-content: center;
}
.content-infos-user--max {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    max-width: 1150px;
    padding: 0 20px;
}
.content-infos-user--max  > h1{
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 60px */
    letter-spacing: 0.96px; 
}
.content-infos-user--max  > p{
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 27.5px */
    letter-spacing: 0.44px; 
    margin-top: 15px;
}
.content-adm-infos-users__card-infos {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #E2E2E2;
    background: #FFF; 
 
    min-height: 300px;
    margin-top: 25px;
    padding: 20px;
    margin-bottom: 25px;
}


.content-adm-infos-users__card-info {
    display: flex;
    margin-bottom: 10px;
    width: 50%;
}

.content-adm-infos-users__label {
    width: 50%;
    font-weight: bold;
}

.content-adm-infos-users__value {
    text-align: start;
    width: 50%;
    margin-left: 10px;
}

.content-adm-infos-users__role {
    margin-top: 20px;
}

.content-adm-infos-users__btn {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    color: white;
}



.content-adm-infos-users__btn--remove {
    font-size: 1.2rem;
    border-radius: 16px;
    background-color: #CF363F; 
}
