
.body-adm-users {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.content-adm-users {
    display: flex;
    min-height: calc(100vh - 164px);
    width: 100%;
    margin-top: 25px;
    justify-content: center;
 
}
.content-adm-users--max {
    display: flex;
    flex-direction: column;
    width: 100%;

    max-width: 1150px;
    padding: 0 20px;
}

.content-adm-users__title {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 60px */
    letter-spacing: 0.96px; 

    margin-bottom: 25px;
}

.content-adm-users__table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; 
    margin-top: 25px;
    color: var(---text-color);
}

.content-adm-users__table th,
.content-adm-users__table td {
    padding: 10px 1%;
    text-align: left;
    border-bottom: 1px solid #E2E2E2; 
    font-size: 1.5rem;
    color: var(---text-color);
}
.content-adm-users__table a {
    color: var(---text-color);
}
.content-adm-users__search-form > .filters--group-select{
    display: flex;
    flex-direction: row;
    gap: 10px;
 
    flex-wrap: wrap;
}

.content-adm-users__search-form  .filters__right {
    display: flex;
    gap: 10px; 
    height: 45px;
}

.filters__right--button{ 
    display: flex;
    padding: 20px 22px;
    align-items: center;
    gap: 10px; 
    border-radius: 16px;
    background: var(--primary-color );
    font-size: 1.2rem;

}
.filters__right--button > img{ 
    width: 13px;
    height: 13px;

}
.table-actions {
    display: flex;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
}
.edit-button , .delete-button {
    display: flex;

    padding: 2px 4px;
    justify-content: center;
    align-items: center; 
    border-radius: 5px;
    font-size: 1.1rem;
    background: #36C6CF; 
    color: #fff;
}
.delete-button {
    background: #CF363F; 
}