.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99px;
    background-color: #fff;
  
    color: #333;
  }
  
.footer > p {
    text-align: center;
    font-family: Work Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px; 
  }
  .footer > p > span {
   font-style: italic;
  }