@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #87cf36;
  --primary-color-foreign: #6ab425;

  --secondary-color: #4d5566;
  --secondary-color-foreign: #3e4452;

  --text-color: #4d5566;
  --background-color: #fff8f2;

  --item-background: #fff;
  --item-background-foreign: #E2E2E2;

  --white: #fff;
  --black: #000;
}

.dark  {
  --primary-color: #073a07;
  --primary-color-foreign: #073507;

  --secondary-color: #000000;
  --secondary-color-foreign: #202020;

  --text-color: #ffffff;
  --background-color: #000000;

  --item-background: #333333;
  --item-background-foreign: #111111;

  --white: #ffffff;
  --black: #000000;
}



html {
  font-size: 60%;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  outline: 0;
}

ul {
  list-style: none;
}

body,
input,
button {
  font-weight: 500;
  font-size: 1.6rem;
  border: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
