:root {
  --primary-color: #87cf36;
  --secondary-color: #4d5566;
  --text-color: #4d5566;
  --background-color: #FFF8F2;
}

.dark {
  --primary-color: #87cf36;
  --secondary-color: #4d5566;
  --text-color: #4d5566;
  --background-color: #FFF8F2;
}

html {
  font-size: 60%;
  font-family: Work Sans; 
}



body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  outline: 0;
}

ul {
  list-style: none;
}

body,
input,
button {
  font-weight: 500;
  font-size: 1.6rem;
  border: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
