:root {
  --primary-color: #87cf36;
  --secondary-color: #4d5566;
  --text-color: #4d5566;
  --background-color: #e2e2e2;
}

.dark {
  --primary-color: #87cf36;
  --secondary-color: #4d5566;
  --text-color: #4d5566;
  --background-color: #e2e2e2;
}

html {
  font-size: 60%;
}

@media (max-width: 1080px) {
  html {
    font-size: 93%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 67.5%;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

input {
  outline: 0;
}

ul {
  list-style: none;
}

body,
input,
button {
  font-weight: 500;
  font-size: 1.6rem;
  border: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
