<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Casa do Vira-Lata - Pets</title>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %> <%-
      include('../../partials/header'); %>
    </header>

    <main class="main">
      <section class="title">
        <h2>Todo animal merece um lar amoroso.</h2>
        <h2><span>Adote</span> um pet hoje.</h2>
        <p>
          Navegue pelos nossos animais disponíveis e saiba mais sobre o processo
          de adoção. Juntos, podemos resgatar, reabilitar e realojar animais de
          estimação necessitados. Obrigado por apoiar nossa missão de levar
          alegria às famílias por meio da adoção de animais de estimação.
        </p>
      </section>
      <div class="filters">
        <div class="filters--group-select">
          <div class="filters__select">
            <select class="filters__select__type" id="filterType">
              <option value="Todos" selected disabled hidden>
                Selecione o tipo do pet
              </option>
              <option>Todos</option>

              <option>Gato</option>
              <option>Cachorro</option>
            </select>
            <select class="filters__select__size" id="filterSize">
              <option value="Todos" selected disabled hidden>
                Selecione o porte
              </option>
              <option>Todos</option>

              <option>Pequeno</option>
              <option>Médio</option>
              <option>Grande</option>
            </select>
            <select class="filters__select__gender" id="filterGender">
              <option value="Todos" selected disabled hidden>
                Selecione o sexo
              </option>
              <option>Todos</option>
              <option>Fêmea</option>
              <option>Macho</option>
            </select>
          </div>
          <div class="filters__right">
            <input type="text" placeholder="Buscar" id="filterSearch" />
            <button id="searchButton">Buscar pet</button>
          </div>
        </div>

        <div class="filters__checkbox">
          <label><input type="checkbox"  id="castrated"/>Castrado</label>
          <label><input type="checkbox" id="vaccinated"/>Vacinado</label>
          <label><input type="checkbox" id="dewormed" />Vermificado</label>
        </div>
        <div id="items_area"></div>
      </div>
    </main>
    <script src="/js/data/pets/list.js"></script>
    <script src="/js/pagination.js"></script>
    <script src="/js/user-default.js"></script>
    <footer class="footer"><%- include('../../partials/footer'); %></footer>
  </body>
</html>
