<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Casa do Vira-Lata - Cadastro de Animais</title>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %> <%-
      include('../../partials/header'); %>
    </header>

    <main class="main-registration">
      <section class="title">
        <h2>Cadastro de <span>Pet</span></h2>
      </section>

      <section class="animal-form">
        <form id="animalRegistrationForm" class="container-form-registration">
          <div class="animal-form__group">
            <p class="animal-form__group--title">Informações do Pet</p>
            <div class="form-group">
              <label for="name">Nome:</label>
              <input type="text" id="name" name="name" required />
            </div>
            <div class="content-form-group">
              <div class="form-group">
                <label for="age">Idade:</label>
                <input type="number" id="age" name="age" required />
              </div>
              <div class="form-group">
                <label for="gender">Sexo:</label>
                <select id="gender" name="gender">
                  <option value="Macho">Macho</option>
                  <option value="Fêmea">Fêmea</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="type">Espécie:</label>
              <select id="type" name="type">
                <option value="Gato">Gato</option>
                <option value="Cachorro">Cachorro</option>
              </select>
            </div>
            <div class="form-group">
              <label for="size">Tamanho:</label>
              <select id="size" name="size">
                <option value="Pequeno">Pequeno</option>
                <option value="Médio">Médio</option>
                <option value="Grande">Grande</option>
              </select>
            </div>
            <div class="form-group--line">
              <label for="is-castrado">O animal é castrado?</label>
              <input type="checkbox" id="castrated" name="castrated" />
            </div>
            <div class="form-group--line">
                <label for="is-castrado">O animal é vacinado?</label>
                <input type="checkbox" id="vaccinated" name="vaccinated" />
              </div>

              <div class="form-group--line">
                <label for="is-castrado">O animal é vermifugado?</label>
                <input type="checkbox" id="dewormed" name="dewormed" />
              </div>
          </div>

          <button type="submit" class="submit-button">Cadastrar Animal</button>
        </form>
      </section>
    </main>

    <footer class="footer"><%- include('../../partials/footer'); %></footer>
  </body>
</html>
