<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Casa do Vira-Lata - Cadastro de Animais</title>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %> <%-
      include('../../partials/header'); %>
    </header>

    <main class="main-registration">
      <section class="title">
        <h2>Cadastro de <span>Animal</span></h2>
      </section>

      <section class="animal-form">
        <h2>Formulário de Cadastro de Animal</h2>
        <form id="animalRegistrationForm" class="container-form-registration">
          <div class="animal-form__group">
            <p class="animal-form__group--title">Informações do Animal</p>
            <div class="form-group">
              <label for="name">Nome:</label>
              <input type="text" id="name" name="name" required />
            </div>
            <div class="content-form-group">
              <div class="form-group">
                <label for="age">Idade:</label>
                <input type="number" id="age" name="age" required />
              </div>
              <div class="form-group">
                <label for="gender">Sexo:</label>
                <select id="gender" name="gender">
                  <option value="male">Macho</option>
                  <option value="female">Fêmea</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="species">Espécie:</label>
              <input type="text" id="species" name="species" required />
            </div>
            <div class="form-group--line">
              <label for="is-castrado">O animal é castrado?</label>
              <input type="checkbox" id="yard" name="yard" />
            </div>
            <div class="form-group--line">
                <label for="is-castrado">O animal é vacinado?</label>
                <input type="checkbox" id="yard" name="yard" />
              </div>
          </div>

          <button type="submit" class="submit-button">Cadastrar Animal</button>
        </form>
      </section>
    </main>

    <footer class="footer"><%- include('../../partials/footer'); %></footer>
  </body>
</html>
