.main-adoption, .main-user-solicitation {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  padding: 5rem;
  width: 100%;
}
.main-user-solicitation textarea {
  width: 100%;
}
.user-solicitation-form__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}
.user-solicitation-form__group .form-group{

  width: 100%;
}
.user-solicitation-form {
  margin: 25px 0px;
}
.container-form-adoption {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pet-info{
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    padding: 10px 1rem;
    margin: 10px 0 ;
}
.pet-info h2,
.adoption-form h2 {
  color: var(--primary-color);
  font-size: 3rem;
  margin-bottom: 2rem;
}
.pet-info h3 {
  color: var(--black);
  font-size: 2rem;
  margin: 10px 0;
}

.form-group--line {
    display: flex;
    margin-bottom: 10px;
}
.form-group label, .form-group--line  label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-weight: 500;
  max-width: 300px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 90%;
  padding: 0.5rem 10px;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  height: 43px;
}
.form-group input {
  height: 23px;
}
.submit-button {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--hover-color);
  border: 1px solid var(--border-color);
  color: var(--black);
}
.adoption-form {
  max-width: 600px;
  margin-top: 15px;
}
.adoption-form__group {
    margin-top: 20px;
    width: 100%;

}
.title  {
  margin-bottom: 15px ;
}
.adoption-form__group--title {
  margin: 10px 0;
  font-size: 2rem;
}
