@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #1B9C85;
  --secundary-color: #fff5ca;

  --text-color: #000f18;
  --background-color: #F1F1F1;
  --background-color-foreign: #cfdedb;
  --background-light: #e3e3e3;

  --card-background: #FFFF;
  --border-color: #E5E5E5;

  --white: #fff;
  --black: #000;

  --edit-background: #068FFF;
  --delete-background: #C70039;

  --contrast-background: #000;
  --contrast-text-color: #fff;
}

.dark {
  --primary-color: #40ddc0;
  --secundary-color: transparent;

  --text-color: #fdfdfd;
  --background-color: #0d0d0d;
  --background-color-foreign: #262626;
  --background-light: #373737;

  --card-background: #262626;
  --border-color: #4a4a4a;

  --white: #000;
  --black: #fff;

  --edit-background: #0f4d7f;
  --delete-background: #810000;

  --contrast-background: #fff;
  --contrast-text-color: #000;
}

html {
  font-size: 60%;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  outline: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body,
input,
button {
  font-weight: 500;
  font-size: 1.6rem;
  border: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}