.section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section--first {
  position: relative;
  height: calc(100vh - 135px);

  background: url("../images/cat.png"), url("../images/dog.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
  background-size: contain, contain;
}

.section__content {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  width: 100%;
  height: 100%;
}

.section--green {
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
}
.section--light {
  display: flex;
  background: var(--background-color-foreign);
  color: var(--text-color);
}
/* estilos da sessao 1 */
.section__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  flex-grow: 1;
  position: relative;
  z-index: 1;
}
.section__main--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
  padding: 20px;
  text-align: left;
  max-width: 850px;
  width: 100%;
}

.section__main--content p > span {
  color: var(--primary-color);
}

.section__subtitle {
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 80px */
}

.section__text {
  font-size: 1.1.8rem;
  font-style: normal;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.pet {
  width: 400px;
  height: 600px;
  background: url("../images/dog-section-2.png") no-repeat bottom;
  background-size: contain;
}

.section__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--text-color);
  background: rgba(135, 207, 54, 0);
  padding: 12px 24px;
  gap: 1rem;
  margin-top: 10px;
  background: var(--secundary-color);

  width: max-content;
}

.section__btn:hover {
  filter: brightness(0.9);
}

.section__btn span,
.section__btn i {
  color: var(--text-color);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}

.section__arrows {
  margin-top: 20px;
}
.section__arrow {
  display: block;
  font-size: 1.8rem;
  margin: 10px;
  cursor: pointer;
}

/* efeito de pulinho na seta*/
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.section__arrows {
  animation: bounce 5s infinite;
}

.section__arrows i {
  cursor: pointer;
}
/* estilos da sessao 2 */
.section-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  max-width: 1300px;
  width: 100%;
}

.section-2 .section__left {
  display: flex;
  flex-direction: column;
  gap: 5rem
}

.section-2 .section__text {
  width: 750px;
}

.section-2 .section__title {
  font-size: 50px;
}
.section__title span {
  color: var(--primary-color);
}

.section-2 > .section__title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 50px */
  margin-bottom: 50px;
}
.section-2 > p {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 31.5px */
}

@media screen and (max-width: 991px) {
  .section-2 > .cat-2 {
    position: absolute;
    height: 200px;
    bottom: 5px;
    right: -100px;
  }
}
/* estilos da sessao 3 */
.section-3 {
  display: flex;
  flex-direction: column;

  padding: 80px 0;
  max-width: 1300px;
  width: 100%;

  position: relative;
}
.section-3 > .section__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 50px */
  margin-bottom: 10px;
}
.section-3 > p {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 31.5px */
}
.carousel-container {
  width: 100%;
  margin: 0 auto;

  position: relative;
  margin-top: 50px;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 1100px;
  margin: 0 auto;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  gap: 2em;
}

.carousel-slide {
  flex: 0 0 48.6%;
  text-align: center;
  max-height: 250px; /* Defina a altura máxima desejada */

  display: flex;
  gap: 1rem
}
.carousel-slide__text {
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 2rem;
}


.carousel-slide__text p{
  font-size: 14px;
}

.carousel-slide__text h2 {
  color: var(--primary-color);
}

.carousel-slide img {
  width: 250px;
  height: 250px;
  border: 2px solid var(--secondary-color);
  border-radius: 100%;
}

.prev-button,
.next-button {
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 35%;

  color: var(--text-color);
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0px;
}
/* estilos da sessao 4 */
.section-4 {
  padding-top: 100px;

  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  width: 100%;
  position: relative;
  background: url('../images/cat-3.png') no-repeat center bottom;
  background-size: contain;
}
.section-4__left {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-between;
}
.social-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.social-list__item {
  display: flex;
  align-items: center;
}
.social-list__item > a {
  color: var(--text-color);
  margin: 0;
  margin-left: 10px;
}

.social-list__item:hover a, .social-list__item:hover i  {
  color: var(--primary-color);
}

.section-4__right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.section-4__qr-code {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 100px;
  background: var(--white);
  padding: 10px;
}