.login-main {
    display: flex;
    justify-content: space-between;
}

.login {
    flex: 0 0 50%;
}

.login-image {
    height: 100%;
    background: url("../images/login-dog.png") no-repeat center bottom;
    background-size: contain;
}

.login-form {
    display: flex;
    justify-content: center;
    padding: 5rem 13rem;
    box-sizing: border-box;
    flex-direction: column;
}

.login-form form {
    margin-top: 3rem;
}

.login-form button {
    background: var(--primary-color);
    border-radius: 8px;
    padding: 10px 20px;
    color: var(--contrast-text-color);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    margin-top: 1rem;
    border: 0;
}

.login-form button:hover {
    filter: brightness(0.8);
    border: 0;
}


.login-form p {
    margin: 10px 0;
    font-size: 1.8rem;
}

.login-form p a {
    color: var(--primary-color);
}

.login-form p a:hover {
    filter: brightness(0.8);
}

.login-form h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
}

.login-form h2 span {
    color: var(--primary-color)
}

.error-login {
    font-size: 1.6rem !important;
}