.header-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-content {
  display: flex;
  gap: 5px;
  justify-content: space-between;

  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding: 10px 5rem;
  align-items: center;
}

.ul-menu {
  display: flex;
  align-items: center;
  gap: 3rem;
  height: 65px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.ul-menu__item a {
  font-size: 1.8rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 600;
  line-height: 150%;
}

.ul-menu__item a:hover {
  color: var(--primary-color);
}

.ul-menu__item.logo {
  margin-right: 20px;
}
.ul-menu__item.logo svg {
  width: auto;
  height: 40px;
}
.ul-menu__item.logo svg path {
  fill: var(--text-color);
}

.user-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border: 1px solid var(--text-color);
  background: none;
  color: var(--text-color);
  padding: 0.6rem 1.1rem;
  border-radius: 3px;
  white-space: nowrap;
}

.user-btn:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.user-btn:hover i {
  color: var(--primary-color);
}

.user-logged {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  background: none;
  color: var(--text-color);
}

.ul-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0;
  margin: 0;
}

.ul-menu__item a {
  font-size: 1.8rem;
  color: var(--text-color); /* Altere conforme a variável de cor de texto que você usa */
  text-transform: uppercase;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none; /* Remove o sublinhado dos links */
}






.user-dropdown {
  position: relative;
}

.user-dropdown__menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  margin: 10px 0 0 0;
  padding: 0;
  border: 1px solid var(--background-color);
  border-radius: 3px;
  padding-top: 10px;
}
.user-dropdown__menu::before {
  content: "";
  position: absolute;
  top: -10px; 
  right: 20px; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--background-color-foreign);  
}

.user-dropdown__menu > span {
  font-size: 12px;
  margin: calc(10px + 0.5rem);
}

.painel {
  border-bottom: 1px solid var(--border-color);
}

.user-dropdown__menu .user-dropdown__item {
  color: black;

  text-decoration: none;
  display: block;

  margin: 0.5rem;
  border-radius: 8px;
}

.user-dropdown__menu .user-dropdown__item:hover {
  background: var(--background-light);
}


.user-dropdown__link {
  color: var(--text-color);
  width: 100%;
  height: 100%;
  display: flex;
  padding:  10px;

  box-sizing: border-box;
}

@media (max-width: 600px) {
 .nav-content {
  padding: 10px 20px;
 }
 .ul-menu__item a {
  font-size: 1.5rem;

}
.user-btn > i:first-child , .user-name{
  display: none;
}
.user-dropdown__menu::before {
  right: 9px;
}
.ul-menu__item.logo {
  margin: 0;
}
.ul-menu__item.logo svg {
  height: 30px;
}

}