.main-options {

  display: flex;
  justify-content: center;
  padding: 5rem;
}

.content-options-home {
  display: flex;
  width: 100%;
  margin-top: 25px;
  justify-content: center;
}

.content-options-home--max {
  display: flex;
  flex-direction: column;
  width: 100%;

  max-width: 1300px;
}

.content-options-home__title {
  font-size: 4rem;
}
.content-options-home__title > span {
  color: var(--primary-color);
}

.content-options-home__subtitle {
  margin-top: 17px;

  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 27.5px */
}

.card-container-options {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card-options {
  flex: 1;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background: var(--card-background);
  padding: 16px 15px;
  height: 60px;
}

.card-options:hover {
  transform: translateY(-5px);
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.card-content > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-content img {
  height: 15px;
  width: 15px;
}
.card-options h2 {
  color: var(--text-color);

  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 22.5px */
  margin: 0 0 0 5px;
}

.card-content p {
  color: var(--text-color);
  font-size: 1.1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
}

i {
  color: var(--text-color);
  font-size: 2rem;
}

.content-page-table__pagination {
  padding: 5rem 0;
}