<!-- Barra de acessibilidade -->
<div class="acessibilidade-bar">
    <div class="acessibilidade-buttons">
      <button id="aumentar-fonte">A+</button>
      <button id="diminuir-fonte">A-</button>
      <button id="reset-fonte">A</button>
    </div>
  </div>
  