<footer class="footer">
    <p>
      Desenvolvido com ❤ por
      <span class="footer__author">Isabel Cristina</span> e
      <span class="footer__author">Cinthia Andrade</span><br>
      Todos os direitos reservados
    </p>
  </footer>
  