<div class="carousel-container">
  <button class="prev-button" onclick="prevSlide()">
    <i class="ph-bold ph-caret-left"></i>
  </button>
  <div class="carousel">
    <div class="carousel-inner">
      <div class="carousel-slide">
        <div class="carousel-slide__image">
          <img src="images/luna.jpg" alt="Gato 1" />
        </div>
        <div class="carousel-slide__text">
          <div>
            <h2>Luna</h2>
            <span>8 meses</span>
          </div>
          <p>
            Luna é uma gatinha muito fofa que foi adotada por uma família que a
            mima bastante e dá carinho
            <s>até demais</s>. Hoje, em seu lar adotivo, ela é feliz e se sente
            segura, enquanto a família se sente sortuda por ter um bichinho como
            ela.
          </p>
        </div>
      </div>
      <div class="carousel-slide">
        <div class="carousel-slide__image">
          <img src="images/rubisco.jpg" alt="Gato 2" />
        </div>
        <div class="carousel-slide__text">
          <div>
            <h2>Rubisco</h2>
            <span>9 meses</span>
          </div>
          <p>
            Rubisco, o gatinho fofo, tem uma história de adoção que se estende
            por gerações em sua família. Tudo começou quando a mãe da mãe dele
            foi adotada por sua atual família. Desde então, cada nova ninhada de
            gatinhos, incluindo Rubisco, encontrou um lar amoroso sob o mesmo
            teto.
          </p>
        </div>
      </div>
      <div class="carousel-slide">
        <div class="carousel-slide__image">
          <img src="images/gatita.jpg" alt="Gato 2" />
        </div>

        <div class="carousel-slide__text">
          <div>
            <h2>Gatita</h2>
            <span>7 anos</span>
          </div>
          <p>
            Gatita é pura doçura <s>na maioria das vezes</s>, trouxe uma dose
            extra de alegria para a vida da sua nova família. Desde o momento em
            que ela entrou em suas vidas, seu carinho incondicional e sua
            natureza afetuosa conquistaram o coração de suas donas.
          </p>
        </div>
      </div>
      <div class="carousel-slide">
        <div class="carousel-slide__image">
          <img src="images/frajola.jpg" alt="Gato 1" />
        </div>
        <div class="carousel-slide__text">
          <div>
            <h2>Frajola</h2>
            <span>5 anos</span>
          </div>
          <p>
            Frajola é uma presença suave e tranquila em nossa casa. Ele não mia
            e raramente busca carinho, mas isso não diminui o amor que sentimos
            por ele. Seu jeito silencioso e independente nos ensina a respeitar
            as individualidades, mesmo entre nossos amigos peludos.
          </p>
        </div>
      </div>
      <div class="carousel-slide">
        <div class="carousel-slide__image">
          <img src="images/gatitinha.jpg" alt="Gato 1" />
        </div>
        <div class="carousel-slide__text">
          <div>
            <h2>Gatitinha</h2>
            <span>5 anos</span>
          </div>
          <p>
            Gatitinha, adotada junto com seu irmão, é pura alegria. Com seus
            olhos grandes e brincadeiras divertidas, ela enche nossa casa de
            fofura e amor. Sua presença é um lembrete constante de como a
            felicidade pode estar em um gatinho adotado.
          </p>
        </div>
      </div>
      <div class="carousel-slide">
        <div class="carousel-slide__image">
          <img src="images/gatito.jpg" alt="Gato 1" />
        </div>
        <div class="carousel-slide__text">
          <div>
            <h2>Gatito</h2>
            <span>7 anos</span>
          </div>
          <p>
            Gatito é discreto e não aprecia carinhos, mas sua família o ama
            mesmo assim. Ele tem uma maneira peculiar de dormir, criando
            sorrisos com suas poses engraçadas. Apesar de sua natureza quieta,
            Gatito trouxe uma dose de encanto ao lar, tornando cada dia especial
            com sua presença única.
          </p>
        </div>
      </div>
    </div>
  </div>
  <button class="next-button" onclick="nextSlide()">
    <i class="ph-bold ph-caret-right"></i>
  </button>
</div>
<script src="/js/carousel.js"></script>
