<script src="/js/getUserFromCookie.js"></script>
<p>
  Desenvolvido com ❤ por
  <a class="footer__author" href="https://github.com/preciousakura" target="_blank">Isabel Cristina</a> e
  <a class="footer__author" href="https://github.com/cinthia3301andrad" target="_blank">Cinthia Andrade</a><br />
  Todos os direitos reservados
</p>
