<nav>
  <ul class="ul-menu">
    <li class="ul-menu__item"><a href="/">Página Inicial</a></li>
    <li class="ul-menu__item"><a href="/pets">Pets da Casa</a></li>
  </ul>

  <button class="user-btn"><i class="ph-fill ph-user"></i> Entrar</button>
</nav>
