<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="/styles/accessibility.css">
<link rel="stylesheet" type="text/css" href="/styles/footer.css">
<link rel="stylesheet" type="text/css" href="/styles/home.css">
<link rel="stylesheet" type="text/css" href="/styles/global.css">
<link rel="stylesheet" type="text/css" href="/styles/menu.css">
<link rel="stylesheet" type="text/css" href="/styles/pets.css">
<link rel="stylesheet" type="text/css" href="/styles/options-home.css">
<link rel="stylesheet" type="text/css" href="/styles/form.css">
<link rel="stylesheet" type="text/css" href="/styles/error.css">
<link rel="stylesheet" type="text/css" href="/styles/page-table.css">
<link rel="stylesheet" type="text/css" href="/styles/pagination.css">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<script src="https://unpkg.com/@phosphor-icons/web"></script>
<script src="/script.js"></script>
<title>Casa do Vira-Lata - Administração de Usuários</title>
