<% if(total > 0 && page <= Math.ceil(total/size)) { %>
<div class="pagination">
  <% if(page > 1) { %>
    <a href=<%= `${current_page}?page=${Number(page)-1}` %>>Anterior</a>
  <% } %>
  <p><%= page %> página de <%= Math.ceil(total/size) %></p>
  <% if(page < Math.ceil(total/size)) { %>
    <a href=<%= `${current_page}?page=${Number(page)+1}` %>>Próxima</a>
  <% } %>
</div>
<% } %>
