<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <title>Sem autorização</title>
  </head>
  <body class="container">
    <header class="header-content">
      <%- include('../../partials/accessibility'); %>
    </header>

    <main class="error_content">
      <div class="error_content__icon">
        <i class="ph-fill ph-warning"></i>
      </div>
      <div class="error_content__text">
        <h2>Oops!</h2>
        <p>Parece que você não tem autorização para acessar essa página.</p>
        <p>
          Caso tenha alguma dúvida ou precise de assistência, por favor,
          consulte um administrador.
        </p>
      </div>
      <div class="error_content__buttons">
        <a href="/">Voltar para o inicio</a>
      </div>
    </main>

    <footer class="footer"><%- include('../../partials/footer'); %></footer>
  </body>
</html>
