.error_content {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;

  padding: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  box-sizing: border-box;
}
.error_content__text {
  text-align: center;
}
.error_content__text > h2 {
  font-size: 6rem;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.error_content__text > p {
  margin-bottom: 0.5rem;
}

.error_content__icon > i {
  font-size: 12rem;
  text-align: center;
}

.error_content__buttons {
  margin-top: 2rem;
}

.error_content__buttons a {
  background: var(--contrast-background);
  border-radius: 8px;
  padding: 10px 20px;
  color: var(--contrast-text-color);
  font-weight: 600;
}
